<header class="h-20 flex items-center px-9">
  <a
    routerLink="/login"
    class="text-sm text-primary-foreground font-bold flex items-center gap-2"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="15"
      viewBox="0 0 14 15"
      fill="none"
    >
      <path
        d="M8.74995 12.12L4.94662 8.31667C4.49745 7.86751 4.49745 7.13251 4.94662 6.68334L8.74995 2.88"
        stroke="#1B1E27"
        stroke-width="1.125"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    Volver</a
  >
</header>
<main class="flex flex-col items-center gap-4">
  <div class="flex flex-col items-center gap-4">
    <img src="assets/logo.svg" alt="" />
    <h1 class="text-2xl font-extrabold text-center text-primary-foreground">
      Eliga el tipo de cuenta
    </h1>
  </div>

  <div class="flex gap-10">
    <div class="dashed-border p-6 w-96 h-[436px] flex flex-col justify-between">
      <div>
        <img
          src="assets/images/doctor-appointment.jpg"
          alt=""
          class="w-full h-auto rounded-xl"
        />
        <p class="mt-6 text-sm text-muted-foreground font-medium text-center">
          Únete como Profesional Médico y forma parte de una red de expertos
          dedicados a mejorar la salud de nuestros usuarios.
        </p>
      </div>

      <a routerLink="/register" hlmBtn class="flex w-full"
        >Soy un especialista</a
      >
    </div>

    <div class="dashed-border p-6 w-96 h-[436px] flex flex-col justify-between">
      <div>
        <img
          src="assets/images/patient.jpg"
          alt=""
          class="w-full h-auto rounded-xl"
        />
        <p class="mt-6 text-sm text-muted-foreground font-medium text-center">
          Regístrate como Usuario para acceder a una experiencia personalizada y
          sencilla
        </p>
      </div>

      <a routerLink="/register" hlmBtn class="flex w-full">Soy un paciente</a>
    </div>
  </div>
</main>
