<!-- Crear un componente -->
<header class="absolute top-0 left-0 w-full h-20 flex items-center px-9">
  <a routerLink="/login" class="flex items-center gap-2">
    <svg
      width="14"
      height="14"
      viewBox="0 0 14 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke="#1B1E27"
    >
      <path
        d="M8.75 12.12 4.947 8.317a1.16 1.16 0 0 1 0-1.634L8.75 2.88"
        stroke-width="1.125"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <span class="text-sm text-primary-foreground font-semibold">Volver</span>
  </a>
</header>

<main class="h-screen flex flex-col items-center justify-center gap-12">
  <h1 class="text-2xl font-semibold text-center text-primary-foreground">
    Eliga el tipo de cuenta
  </h1>

  <div class="flex gap-16">
    <!-- Crear componente panel -->
    <div class="w-72 h-64 flex flex-col justify-between items-center">
      <img src="assets/illustrations/doctor.svg" alt="" />

      <a routerLink="/join/specialist" hlmBtn class="flex w-full"
        >Soy un especialista</a
      >
    </div>

    <!-- Crear componente panel -->
    <div class="w-72 h-64 flex flex-col justify-between items-center">
      <img src="assets/illustrations/person.svg" alt="" />

      <a routerLink="/join/patient" hlmBtn class="flex w-full"
        >Soy un paciente</a
      >
    </div>
  </div>
</main>
