<main class="min-h-screen flex">
  <div
    class="w-7/12 h-screen bg-primary-foreground px-24 flex flex-col justify-center items-center gap-32"
  >
    <img src="assets/illustrations/illustration.png" alt="" class="w-[600px]" />

    <div class="self-start">
      <p
        class="text-[28px] 2xl:text-[32px] 2xl:w-[580px] leading-10 text-white"
      >
        {{ phrase }}
      </p>

      <div class="flex gap-2 mt-4">
        <span class="w-2 h-2 rounded-full bg-white"></span>
        <span class="w-10 h-2 rounded-full bg-white"></span>
        <span class="w-2 h-2 rounded-full bg-white"></span>
      </div>
    </div>
  </div>
  <div class="w-5/12 h-screen flex items-center justify-center">
    <router-outlet />
  </div>
</main>
