<button [brnMenuTriggerFor]="menu">
  <hlm-avatar>
    <img
      [src]="(currentUser$ | async)?.photoURL"
      alt="Profile picture"
      hlmAvatarImage
    />
    <span class="bg-[#FD005B] text-white" hlmAvatarFallback>{{ label }}</span>
  </hlm-avatar>
</button>

<ng-template #menu>
  <hlm-menu class="w-64">
    <hlm-menu-label>
      <div class="flex flex-col items-center gap-3">
        <hlm-avatar variant="large">
          <img
            [src]="(currentUser$ | async)?.photoURL"
            alt="Profile picture"
            hlmAvatarImage
          />
          <span class="bg-[#FD005B] text-white" hlmAvatarFallback>{{ label }}</span>
        </hlm-avatar>
        <div>
          <p class="text-foreground text-base font-medium text-center">
            {{ (currentUser$ | async)?.displayName }}
          </p>
          <p class="text-muted-foreground text-sm font-medium text-center">
            {{ (currentUser$ | async)?.email }}
          </p>
        </div>
      </div>
    </hlm-menu-label>

    <hlm-menu-separator />

    <hlm-menu-group>
      <a routerLink="/profile" hlmMenuItem>
        <span>Mi perfil</span>
      </a>

      <button hlmMenuItem>
        <span>Configuración</span>
      </button>

      <button hlmMenuItem class="flex items-center gap-3">
        <span>Cambiar idioma</span>
        <img src="assets/flags/es-ES.png" alt="flag" class="w-5" />
      </button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <hlm-menu-group>
      <button hlmMenuItem (click)="onLogout()">
        <span>Cerrar sesion</span>
      </button>
    </hlm-menu-group>
  </hlm-menu>
</ng-template>
