<div class="card">
  <h2 class="title">Eliga al doctor</h2>
  @if (specialty){ @if (!loading) { @if (doctors.length > 0) {
  <div class="flex flex-wrap gap-6 p-7">
    @for (doctor of doctors; track $index) {
    <button
      type="button"
      class="item"
      [ngClass]="itemSelected === doctor.id ? 'card-active' : 'card-disabled'"
      (click)="onSelected(doctor)"
    >
      <hlm-avatar variant="small" shape="square">
        <img [src]="doctor.picture" alt="Profile picture" hlmAvatarImage />
        <span
          class="flex items-center justify-center w-full h-full text-white"
          [ngClass]="getBackgroundColorByName(doctor.firstName)"
          hlmAvatarFallback
          >{{ getFallback(doctor.firstName, doctor.lastName) }}</span
        >
      </hlm-avatar>
      <!-- <img
        [src]="doctor.picture"
        alt=""
        class="w-12 h-12 rounded-xl object-cover"
      /> -->
      <div class="content">
        <h2 class="name">
          Dr
          {{ doctor.firstName }}
          {{ doctor.lastName }}
        </h2>
        <p class="subname">{{ doctor.age }} años</p>
      </div>
    </button>
    }
  </div>
  } @else {
  <div class="text-center text-sm text-foreground font-medium py-16">
    No hay doctores para esta especialidad
  </div>
  } } @else {
  <div class="flex justify-center py-12">
    <hlm-icon size="base" name="lucideLoader2" class="animate-spin" />
  </div>
  } } @else {
  <div class="text-center text-sm text-foreground font-medium py-16">
    Elige una categoria
  </div>
  }
</div>
