<div [formGroup]="personalInformationGroup">
  <app-dropzone>
    <ng-template #file></ng-template>
    <ng-template #empty>
      <div
        class="w-full h-full p-8 rounded-3xl flex flex-col items-center justify-between bg-[#91A3FD] bg-opacity-20"
      >
        <img src="assets/icons/gallery.svg" alt="" class="w-24" />

        <button hlmBtn size="lg" variant="secondary" class="relative w-full">
          <input
            type="file"
            class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer"
            accept=".jpg, .jpeg, .png"
          />
          Elegir foto
        </button>
      </div>
    </ng-template>
  </app-dropzone>
  <div class="w-full flex gap-5 mb-5">
    <div class="w-full">
      <label hlmLabel
        >Nombre
        <input
          class="w-full"
          hlmInput
          type="text"
          formControlName="firstName"
        />
      </label>

      <app-input-error [control]="firstNameControl" />
    </div>

    <div class="w-full">
      <label hlmLabel
        >Apellido
        <input class="w-full" hlmInput type="text" formControlName="lastName" />
      </label>

      <app-input-error [control]="lastNameControl" />
    </div>
  </div>

  <div class="w-full flex gap-5 mb-5">
    <div class="w-full">
      <label hlmLabel
        >Edad
        <input
          class="w-full"
          hlmInput
          type="text"
          [maxLength]="8"
          formControlName="age"
        />
      </label>

      <app-input-error [control]="ageControl" />
    </div>

    <div class="w-full">
      <label hlmLabel
        >DNI
        <input
          class="w-full"
          hlmInput
          type="text"
          [maxLength]="8"
          formControlName="dni"
        />
      </label>

      <app-input-error [control]="dniControl" />
    </div>

    <div class="w-full">
      <label hlmLabel
        >Obra social
        <input
          class="w-full"
          hlmInput
          type="text"
          formControlName="insurance"
        />
      </label>

      <app-input-error [control]="insuranceControl" />
    </div>
  </div>
</div>
