<!-- <div class="flex">
  <div class="bg-[#2b2b2b] p-8 rounded-3xl w-96">
    <div class="w-full flex flex-col align-center justify-center gap-5">
      <hlm-avatar variant="xLarge" shape="square" class="w-32 h-32 text-5xl">
        <img
          src="assets/images/appointment.jpeg"
          alt="Profile picture"
          hlmAvatarImage
        />
        <span class="bg-[#FD005B] text-white" hlmAvatarFallback>{{
          fallBack
        }}</span>
      </hlm-avatar>
      <div>
        <p class="text-foreground text-xl font-medium">
          {{ (user$ | async)?.displayName }}
        </p>
        <p class="text-muted-foreground text-base font-medium">Administrador</p>
      </div>
    </div>

    <ul>
      <li>
        <a href="/">Información personal</a>
      </li>
    </ul>
  </div>
</div> -->
