<div
  class="w-[400px] h-[56px] border rounded-full pl-6 pr-2 bg-[#242424] grid grid-cols-[1fr_40px] items-center"
  [ngClass]="
    isFocused ? 'border-2 border-primary/50 bg-transparent' : 'border-[#303030]'
  "
>
  <input
    type="text"
    class="block w-full h-full bg-transparent outline-none text-white placeholder:text-[#fff] text-sm"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (keyup)="onKeyup($event)"
  />

  <button
    class="w-10 h-10 bg-primary rounded-full flex items-center justify-center"
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.583 17.5a7.917 7.917 0 1 0 0-15.833 7.917 7.917 0 0 0 0 15.833m8.75.833-1.666-1.666"
        stroke="#1F1F1F"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
