<div
  class="flex items-center gap-3 font-semibold text-primary-foreground text-sm mt-8"
>
  <div
    class="w-8 h-8 rounded-full flex items-center justify-center text-sm font-bold"
    [ngClass]="
      active
        ? 'bg-[#A8F48E] text-primary-foreground'
        : 'bg-[#F1F3F9] text-muted-foreground'
    "
  >
    @if (status === 'done') {
    <svg
      width="10"
      height="8"
      viewBox="0 0 10 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.75 3.99998L3.58 6.82998L9.25 1.16998"
        stroke="#292D32"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    } @else {
    {{ index }}
    }
  </div>

  {{ label }}
</div>
