<main class="h-[calc(100vh-80px)] flex items-center justify-center">
  <div class="h-[546px] flex flex-col">
    <h1 class="text-2xl font-extrabold text-primary-foreground mb-5">
      Crea tu cuenta
    </h1>

    <form [formGroup]="register" (submit)="onRegister()">
      <app-stepper>
        <app-step
          label="Datos personales"
          [stepControl]="personalInformationControlform"
        >
          <h2 class="text-2xl font-semibold text-primary-foreground mb-5">
            Datos personal
          </h2>

          <div formGroupName="personalInformation">
            <div class="w-full flex gap-5 mb-5">
              <div>
                <label hlmLabel
                  >Nombre
                  <input
                    class="w-full"
                    hlmInput
                    type="text"
                    formControlName="firstName"
                  />
                </label>

                <app-input-error [control]="firstNameControl" />
              </div>
              <label hlmLabel
                >Apellido
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  formControlName="lastName"
                />
              </label>
            </div>
            <div class="mb-5">
              <label hlmLabel
                >DNI
                <input
                  class="w-full"
                  hlmInput
                  type="number"
                  [maxLength]="8"
                  formControlName="dni"
                />
              </label>
            </div>
            <label hlmLabel
              >Obra social
              <input class="w-full" hlmInput type="text" />
            </label>
          </div>

          <div class="w-full mt-16 flex items-center justify-between">
            <p class="text-sm font-medium text-muted-foreground text-center">
              ¿Ya tienes una cuenta?
              <a routerLink="/login" class="underline">Inicia sesion</a>
            </p>

            <button
              type="button"
              hlmBtn
              variant="secondary"
              size="lg"
              appStepperNext
            >
              Siguiente
            </button>
          </div>
        </app-step>

        <app-step
          label="Informacion de contacto"
          [stepControl]="contactInformationControlform"
        >
          <h2 class="text-2xl font-semibold text-primary-foreground mb-5">
            Informacion de contacto
          </h2>

          <div formGroupName="contactInformation">
            <div class="w-full mb-5">
              <label hlmLabel
                >Correo Electronico
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  formControlName="email"
                />
              </label>
            </div>
            <label hlmLabel
              >Contraseña
              <input
                class="w-full"
                hlmInput
                type="password"
                formControlName="password"
              />
            </label>
          </div>

          <div class="w-full mt-16 flex items-center justify-between">
            <p class="text-sm font-medium text-muted-foreground text-center">
              ¿Ya tienes una cuenta?
              <a routerLink="/login" class="underline">Inicia sesion</a>
            </p>

            <div>
              <button
                type="button"
                hlmBtn
                variant="ghost"
                size="lg"
                appStepperPrevious
              >
                Volver
              </button>
              <button
                type="button"
                hlmBtn
                variant="secondary"
                size="lg"
                appStepperNext
              >
                Siguiente
              </button>
            </div>
          </div>
        </app-step>

        <app-step
          label="Fotos de perfil"
          [stepControl]="profilePictureControlform"
        >
          <h2 class="text-2xl font-semibold text-primary-foreground mb-5">
            Fotos de perfil
          </h2>

          <div formGroupName="profilePicture">
            <div class="flex gap-10">
              <div
                class="relative border rounded-3xl w-52 h-52 flex items-center justify-center"
              >
                <div>
                  <p
                    class="text-sm font-semibold text-primary-foreground text-center"
                  >
                    Subir imagen de perfil
                  </p>
                  <p
                    class="text-xs font-semibold text-muted-foreground text-center"
                  >
                    JPEG, JPG, PNG
                  </p>
                </div>
                <input
                  type="file"
                  class="absolute top-0 left-0 w-full h-full opacity-0"
                  accept=".jpg, .jpeg, .png"
                  (change)="onPreviewImage($event)"
                />
                <img
                  [src]="imageSrc"
                  alt=""
                  class="absolute top-0 left-0 rounded-3xl object-cover"
                  [ngClass]="{ 'w-full h-full': imageSrc }"
                />
              </div>
              <div class="border rounded-3xl w-52 h-52"></div>
            </div>
          </div>

          <div class="w-full mt-16 flex items-center justify-between">
            <p class="text-sm font-medium text-muted-foreground text-center">
              ¿Ya tienes una cuenta?
              <a routerLink="/login" class="underline">Inicia sesion</a>
            </p>

            <div>
              <button
                type="button"
                hlmBtn
                variant="ghost"
                size="lg"
                appStepperPrevious
              >
                Volver
              </button>
              <button type="submit" hlmBtn size="lg">Crear una cuenta</button>
            </div>
          </div>
        </app-step>
      </app-stepper>
    </form>
  </div>
</main>
