<main class="h-screen flex items-center justify-center">
  <form [formGroup]="form" (submit)="onRegister()">
    <app-stepper>
      <app-step
        label="Datos personales"
        [stepControl]="personalInformationControlform"
      >
        <div class="mb-10">
          <p class="text-sm text-muted-foreground font-semibold">1/3</p>
          <h2 class="text-2xl font-semibold text-primary-foreground">
            Datos personal
          </h2>
        </div>

        <div formGroupName="personalInformation">
          <div class="w-full flex gap-5 mb-5">
            <div class="w-full">
              <label hlmLabel
                >Nombre
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  formControlName="firstName"
                />
              </label>

              <app-input-error [control]="firstNameControl" />
            </div>

            <div class="w-full">
              <label hlmLabel
                >Apellido
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  formControlName="lastName"
                />
              </label>

              <app-input-error [control]="lastNameControl" />
            </div>
          </div>

          <div class="w-full flex gap-5">
            <div class="w-full">
              <label hlmLabel
                >Edad
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  [maxLength]="2"
                  formControlName="identityDocument"
                />
              </label>

              <app-input-error [control]="identityDocumentControl" />
            </div>

            <div class="w-full">
              <label hlmLabel
                >DNI
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  [maxLength]="8"
                  formControlName="age"
                />
              </label>

              <app-input-error [control]="ageControl" />
            </div>

            <div class="w-full">
              <label hlmLabel
                >Obra social
                <input
                  class="w-full"
                  hlmInput
                  type="text"
                  formControlName="healthInsurance"
                />
              </label>

              <app-input-error [control]="healthInsuranceControl" />
            </div>
          </div>
        </div>

        <div class="w-full mt-16 flex items-center justify-between">
          <p class="text-sm font-medium text-primary-foreground text-center">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="underline">Inicia sesion</a>
          </p>

          <button
            type="button"
            hlmBtn
            variant="secondary"
            size="lg"
            appStepperNext
            [disabled]="
              (personalInformationControlform.statusChanges | async) !== 'VALID'
            "
          >
            Siguiente
          </button>
        </div>
      </app-step>

      <app-step
        label="Informacion de contacto"
        [stepControl]="contactInformationControlform"
      >
        <div class="mb-10">
          <p class="text-sm text-muted-foreground font-semibold">2/3</p>
          <h2 class="text-2xl font-semibold text-primary-foreground">
            Informacion de contacto
          </h2>
        </div>

        <div formGroupName="contactInformation">
          <div class="w-full mb-5">
            <label hlmLabel
              >Correo Electronico
              <input
                class="w-full"
                hlmInput
                type="text"
                formControlName="email"
              />
            </label>
            <app-input-error [control]="emailControl" />
          </div>

          <div class="w-full">
            <label hlmLabel
              >Contraseña
              <input
                class="w-full"
                hlmInput
                type="password"
                formControlName="password"
              />
            </label>
            <app-input-error [control]="passwordControl" />
          </div>
        </div>

        <div class="w-full mt-16 flex items-center justify-between">
          <p class="text-sm font-medium text-primary-foreground text-center">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="underline">Inicia sesion</a>
          </p>

          <div>
            <button
              type="button"
              hlmBtn
              variant="ghost"
              size="lg"
              appStepperPrevious
            >
              Volver
            </button>

            <button
              type="button"
              hlmBtn
              variant="secondary"
              size="lg"
              appStepperNext
              [disabled]="
                (personalInformationControlform.statusChanges | async) !==
                'VALID'
              "
            >
              Siguiente
            </button>
          </div>
        </div>
      </app-step>

      <app-step
        label="Fotos de perfil"
        [stepControl]="profilePictureControlform"
      >
        <div class="mb-10">
          <p class="text-sm text-muted-foreground font-semibold">3/3</p>
          <h2 class="text-2xl font-semibold text-primary-foreground">
            Fotos de perfil
          </h2>
        </div>

        <div formGroupName="profilePicture">
          <div class="flex justify-between gap-10">
            <app-dropzone (emitterFile)="onPathvalue($event)" />
            <app-dropzone />
          </div>
        </div>

        <div class="w-full mt-16 flex items-center justify-between">
          <p class="text-sm font-medium text-primary-foreground text-center">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="underline">Inicia sesion</a>
          </p>

          <div>
            <button
              type="button"
              hlmBtn
              variant="ghost"
              size="lg"
              appStepperPrevious
            >
              Volver
            </button>
            <button type="submit" hlmBtn size="lg">Crear una cuenta</button>
          </div>
        </div>
      </app-step>
    </app-stepper>
  </form>
</main>
