<app-toast />

<main class="h-screen flex items-center justify-center">
  <form [formGroup]="registerForm" (submit)="onRegister()">
    <app-header
      title="Crea tu cuenta de paciente"
      description="Completa el formulario para registrarte como paciente."
    />

    <app-stepper>
      <app-stepper-item step="1">
        <app-stepper-trigger>1</app-stepper-trigger>

        <app-stepper-separator />
      </app-stepper-item>

      <app-stepper-item step="2">
        <app-stepper-trigger>2</app-stepper-trigger>

        <app-stepper-separator />
      </app-stepper-item>
    </app-stepper>

    <div stepIndex="1">

    </div>

    <div stepIndex="2">

    </div>
      <!-- <app-step
        label="Datos personales"
        [stepControl]="personalInformationGroup"
      >
        <app-header
          title="Información personal"
          description="Por favor, introduce tu información personal. Esto nos ayudará a conocerte mejor y a ofrecerte un mejor servicio."
        />

        <app-personal-information [control]="personalInformationGroup" />

        <app-footer>
          <button
            type="button"
            hlmBtn
            variant="secondary"
            size="lg"
            appStepperNext
            [disabled]="
              (personalInformationGroup.statusChanges | async) !== 'VALID'
            "
          >
            Siguiente
          </button>
        </app-footer>
      </app-step>

      <app-step
        label="Informacion de contacto"
        [stepControl]="contactInformationGroup"
      >
        <app-header
          title="Información de contacto"
          description="Introduce tu dirección de correo electrónico y crea una contraseña segura para tu cuenta."
        />

        <app-contact-information [control]="contactInformationGroup" />

        <app-footer>
          <button
            type="button"
            hlmBtn
            variant="ghost"
            size="lg"
            appStepperPrevious
          >
            Volver
          </button>
          <button
            type="button"
            hlmBtn
            variant="secondary"
            size="lg"
            appStepperNext
            [disabled]="
              (contactInformationGroup.statusChanges | async) !== 'VALID'
            "
          >
            Siguiente
          </button>
        </app-footer>
      </app-step>

      <app-step label="Fotos de perfil" [stepControl]="profilePictureGroup">
        <app-header
          title="Fotos de perfil"
          description="Sube dos fotos para completar tu perfil. Esto ayudará a identificarte mejor en nuestra plataforma."
        />

        <app-profile-picture [control]="profilePictureGroup" />

        <app-footer>
          <button
            type="button"
            hlmBtn
            variant="ghost"
            size="lg"
            appStepperPrevious
          >
            Volver
          </button>
          <button
            type="submit"
            hlmBtn
            size="lg"
            [disabled]="(profilePictureGroup.statusChanges | async) !== 'VALID'"
          >
            Crear una cuenta
          </button>
        </app-footer>
      </app-step> -->
  </form>
</main>
