<hlm-dialog class="w-full">
    <button
      id="cancel-appointment"
      brnDialogTrigger
      hlmBtn
      variant="secondary" size="lg" class="w-full bg-input text-muted-foreground"
    >
      Cancelar
    </button>
    <hlm-dialog-content class="w-[500px]" *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 hlmDialogTitle class="text-foreground text-xl">
          ¿Desea cancelar el turno?
        </h3>
        <p hlmDialogDescription class="text-base">
          Escribe la razón por la que cancela el turno
        </p>
      </hlm-dialog-header>

      <div class="py-5">
        <textarea
          class="min-h-[180px] w-full"
          hlmInput
        ></textarea>
      </div>

      <hlm-dialog-footer>
        <button hlmBtn type="button" variant="secondary" size="lg" class="w-full bg-input text-muted-foreground" (click)="onCancelAppointment(ctx)">
          Cancelar
        </button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
</hlm-dialog>