<div class="absolute top-0 left-0 w-full h-screen z-[-10] flex items-center justify-center">
    <div class="w-[900px] mx-auto flex flex-col items-center">
        <h1 class="font-extrabold text-[250px] text-[#212121]">404</h1>
        <h2 class="font-semibold text-xl">Vaya, no hemos podido encontrar esta página.</h2>
        <p class="text-center text-muted-foreground text-base mt-2 mb-8">Esto no es una falla sino un accidente no intencional. De todas formas, seguramente esta no sea la página que buscás y te pedimos disculpas por eso.</p>
        <button type="button" hlmBtn size="lg">Volver al inicio</button>
    </div>
</div>