<div class="">
  <div class="section-header">
    <h1 class="section-title">Settings</h1>
  </div>
  <div class="flex gap-16">
    <div>
      <ul class="w-60">
        <li class="item">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15V12.5"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.39172 2.35004L2.61672 6.97504C1.96672 7.4917 1.55006 8.58337 1.69172 9.40004L2.80006 16.0334C3.00006 17.2167 4.13339 18.175 5.33339 18.175H14.6667C15.8584 18.175 17.0001 17.2084 17.2001 16.0334L18.3084 9.40004C18.4417 8.58337 18.0251 7.4917 17.3834 6.97504L11.6084 2.35837C10.7167 1.6417 9.27506 1.6417 8.39172 2.35004Z"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          General
        </li>
        <li class="item">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.0007 9.99984C12.3018 9.99984 14.1673 8.13436 14.1673 5.83317C14.1673 3.53198 12.3018 1.6665 10.0007 1.6665C7.69946 1.6665 5.83398 3.53198 5.83398 5.83317C5.83398 8.13436 7.69946 9.99984 10.0007 9.99984Z"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.1585 18.3333C17.1585 15.1083 13.9501 12.5 10.0001 12.5C6.05013 12.5 2.8418 15.1083 2.8418 18.3333"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Cuenta
        </li>
        <li class="item">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.18398 16.25H6.25065C5.73398 16.25 5.27565 16.2333 4.86732 16.175C2.67565 15.9333 2.08398 14.9 2.08398 12.0833V7.91667C2.08398 5.1 2.67565 4.06667 4.86732 3.825C5.27565 3.76667 5.73398 3.75 6.25065 3.75H9.13398"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12.5156 3.75H13.749C14.2656 3.75 14.724 3.76667 15.1323 3.825C17.324 4.06667 17.9156 5.1 17.9156 7.91667V12.0833C17.9156 14.9 17.324 15.9333 15.1323 16.175C14.724 16.2333 14.2656 16.25 13.749 16.25H12.5156"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12.5 1.6665V18.3332"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.24412 10.0002H9.25161"
              stroke="white"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5.91209 10.0002H5.91957"
              stroke="white"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Contraseña
        </li>
        <li class="item">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.1746 3.28323C16.8913 6.48323 13.6746 10.8332 10.9829 12.9916L9.34128 14.3082C9.13294 14.4582 8.92461 14.5916 8.69128 14.6832C8.69128 14.5332 8.68294 14.3666 8.65794 14.2082C8.56628 13.5082 8.24961 12.8582 7.69128 12.2999C7.12461 11.7332 6.43294 11.3999 5.72461 11.3082C5.55794 11.2999 5.39128 11.2832 5.22461 11.2999C5.31628 11.0416 5.45794 10.7999 5.63294 10.5999L6.93294 8.95823C9.08294 6.26656 13.4496 3.03323 16.6413 1.75823C17.1329 1.5749 17.6079 1.70823 17.9079 2.01656C18.2246 2.3249 18.3746 2.7999 18.1746 3.28323Z"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.69173 14.6832C8.69173 15.5998 8.34173 16.4748 7.6834 17.1415C7.17507 17.6498 6.4834 17.9998 5.6584 18.1082L3.6084 18.3332C2.49173 18.4582 1.5334 17.5082 1.66673 16.3748L1.89173 14.3248C2.09173 12.4998 3.61673 11.3332 5.2334 11.2998C5.40007 11.2915 5.57507 11.2998 5.7334 11.3082C6.44173 11.3998 7.1334 11.7248 7.70006 12.2998C8.2584 12.8582 8.57506 13.5082 8.66673 14.2082C8.67506 14.3665 8.69173 14.5248 8.69173 14.6832Z"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.8674 12.0584C11.8674 9.88337 10.1008 8.1167 7.92578 8.1167"
              stroke="white"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Apariencia
        </li>
        <brn-separator hlmSeparator class="my-2" />
        <li class="item text-destructive">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.5 4.98307C14.725 4.70807 11.9333 4.56641 9.15 4.56641C7.5 4.56641 5.85 4.64974 4.2 4.81641L2.5 4.98307"
              stroke="#FB5959"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.08398 4.1415L7.26732 3.04984C7.40065 2.25817 7.50065 1.6665 8.90898 1.6665H11.0923C12.5007 1.6665 12.609 2.2915 12.734 3.05817L12.9173 4.1415"
              stroke="#FB5959"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.7096 7.6167L15.168 16.0084C15.0763 17.3167 15.0013 18.3334 12.6763 18.3334H7.3263C5.0013 18.3334 4.9263 17.3167 4.83464 16.0084L4.29297 7.6167"
              stroke="#FB5959"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.60938 13.75H11.3844"
              stroke="#FB5959"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.91602 10.4165H12.0827"
              stroke="#FB5959"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Eliminar cuenta
        </li>
      </ul>
    </div>
    <div class="w-full">
      <section class="flex gap-20">
        <div class="min-w-[400px]">
          <h2 class="title">Informacion personal</h2>
          <p class="description">
            Revisa y actualiza tus datos personales. Los cambios se guardan
            automáticamente para mantener tu perfil siempre al día.
          </p>
        </div>

        @if(user$ | async; as user) {
        <div class="w-full flex gap-5 mb-5">
          <div class="w-full">
            <label hlmLabel
              >Nombre
              <input
                class="w-full"
                hlmInput
                type="text"
                disabled
                [value]="user.firstName"
              />
            </label>
          </div>

          <div class="w-full">
            <label hlmLabel
              >Apellido
              <input
                class="w-full"
                hlmInput
                type="text"
                disabled
                disabled
                [value]="user.lastName"
              />
            </label>
          </div>
        </div>

        <div class="w-full flex gap-5 mb-5">
          <div class="w-full">
            <label hlmLabel
              >Edad
              <input
                class="w-full"
                hlmInput
                type="text"
                disabled
                [value]="user.age"
              />
            </label>
          </div>

          <div class="w-full">
            <label hlmLabel
              >DNI
              <input
                class="w-full"
                hlmInput
                type="text"
                disabled
                [value]="user.dni"
              />
            </label>
          </div>

          <div class="w-full">
            <label hlmLabel
              >Especialidad
              <input class="w-full" hlmInput type="text" disabled value="" />
            </label>
          </div>
        </div>
        }
      </section>

      <brn-separator hlmSeparator class="my-5" />

      <section class="flex gap-20">
        <div class="min-w-[400px]">
          <h2 class="title">Apariencia</h2>
          <p class="description">
            Elige tu tema favorito o sincronízalo con el sistema para alternar
            entre modos claro y oscuro. Los ajustes se aplican de inmediato y se
            guardan automáticamente.
          </p>
        </div>

        <div class="flex gap-5">
          <button class="bg-popover w-full h-52 rounded-2xl"></button>
          <button class="bg-popover w-full h-52 rounded-2xl"></button>
        </div>
      </section>
    </div>
  </div>
</div>
