<hlm-toaster />

<hlm-sheet side="right" (closed)="onClosed()">
  <button id="edit-profile" brnSheetTrigger hlmBtn size="lg" class="gap-2">
    <img src="assets/icons/add.png" alt="" />
    Agregar usuario
  </button>

  <hlm-sheet-content *brnSheetContent="let ctx">
    <hlm-sheet-header>
      <h3 hlmSheetTitle>Agregar usuario</h3>
    </hlm-sheet-header>

    <form [formGroup]="registerForm" class="mt-10 w-[500px]">
      <ng-stepper #stepper>
        <ng-stepper-list orientation="vertical">
          <ng-stepper-item [step]="1">
            <button type="button" ngStepperTrigger>1</button>

            <ng-stepper-separator />
          </ng-stepper-item>
          <ng-stepper-item [step]="2">
            <button type="button" ngStepperTrigger>2</button>

            <ng-stepper-separator />
          </ng-stepper-item>
          <ng-stepper-item [step]="3">
            <button type="button" ngStepperTrigger>3</button>

            <ng-stepper-separator />
          </ng-stepper-item>
          <ng-stepper-item [step]="4">
            <button type="button" ngStepperTrigger>4</button>
          </ng-stepper-item>
        </ng-stepper-list>

        <div>
          <div [ngStepperStepIndex]="1" [stepControl]="getFormGroup('account')">
            <app-header
              title="Selecciona el tipo de cuenta"
              description="Elige el tipo de cuenta que deseas crear. Puedes registrarte como
              doctor, paciente o administrador."
            />

            <div class="flex justify-center gap-5">
              @for (account of accounts; track $index) {
              <app-account-card
                image="{{ account.imageSrc }}"
                role="{{ account.role }}"
                [selected]="selectedOption === account.id"
                (click)="onSelect(account)"
              />
              }
            </div>

            <div class="w-full mt-16 flex items-center justify-end">
              <button type="button" hlmBtn variant="secondary" size="lg" (click)="stepper.next()" [disabled]="!registerForm.get('account')?.valid">Siguiente</button>
            </div>
          </div>

          <div [ngStepperStepIndex]="2" [stepControl]="getFormGroup('personal')">
            <app-header
              title="Informacion personal"
              description="Por favor, introduce tu información personal. Esto nos ayudará a conocerte mejor y a ofrecerte un mejor servicio."
            />

            <app-personal-information [role]="selectedRole" [control]="getFormGroup('personal')"/>

            @if (selectedRole == 'doctor') {
              <div class="w-full">
                <label hlmLabel
                  >Especialidad
                </label>
                
                <ng-tags-input (getSpecialty)="onSpecialty($event)" />
              </div>
            }

            <div class="w-full mt-16 flex items-center justify-end">
              <button type="button" hlmBtn variant="ghost" size="lg" (click)="stepper.prev()">Volver</button>
              <button type="button" hlmBtn variant="secondary" size="lg" (click)="stepper.next()" [disabled]="!registerForm.get('personal')?.valid">Siguiente</button>
            </div>
          </div>

          <div [ngStepperStepIndex]="3" [stepControl]="getFormGroup('contact')">
            <app-header
              title="Datos de contacto"
              description="Introduce tu dirección de correo electrónico y crea una contraseña segura para tu cuenta."
            />

            <app-contact-information [control]="getFormGroup('contact')"/>

            <div class="w-full mt-16 flex items-center justify-end">
              <button type="button" hlmBtn variant="ghost" size="lg" (click)="stepper.prev()">Volver</button>
              <button type="button" hlmBtn variant="secondary" size="lg" (click)="stepper.next()" [disabled]="!registerForm.get('contact')?.valid">Siguiente</button>
            </div>
          </div>

          <div [ngStepperStepIndex]="4" [stepControl]="getFormGroup('profile')">
            <app-header
              title="Fotos de perfil"
              description="Sube tu foto para completar tu perfil. Esto ayudará a identificarte mejor en nuestra plataforma."
            />

            <div class="flex justify-center gap-5">
              <app-dropzone size="small" (updateFile)="onUpdateFile($event, 'picture')" />

              @if (selectedRole === 'paciente') {
                <app-dropzone size="small" (updateFile)="onUpdateFile($event, 'dni')" />
              }
            </div>

            <div class="w-full mt-16 flex items-center justify-end">
              <button
                hlmBtn
                type="button"
                variant="ghost"
                size="lg"
                (click)="stepper.prev()"
              >
                Volver
              </button>
              <button
                hlmBtn
                type="button"
                (click)="onRegister(ctx)"
                size="lg"
                [disabled]="
                  (registerForm.statusChanges | async) !== 'VALID'
                "
              >
                @if (isLoading) {
                <hlm-icon
                  name="lucideLoader2"
                  size="sm"
                  class="mr-2 animate-spin"
                  color="#1f1f1f"
                />
                } Crear cuenta
              </button>
            </div>
          </div>
        </div>
      </ng-stepper>
    </form>
  </hlm-sheet-content>
</hlm-sheet>
