<main class="">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-[28px]">Usuarios</h2>

    <app-sheet />
  </div>

  <hlm-tabs tab="administrators" class="w-full">
    <hlm-tabs-list class="w-full" aria-label="tabs example">
      <button hlmTabsTrigger="administrators">Administradores</button>
      <button hlmTabsTrigger="doctors">Doctores</button>
      <button hlmTabsTrigger="patients">Pacientes</button>
    </hlm-tabs-list>
    <div hlmTabsContent="administrators">
      <table class="w-full text-sm text-left text-foreground">
        <thead class="text-xs text-foreground uppercase">
          <tr>
            <th class="px-6 py-3">Nombre</th>
            <th class="px-6 py-3">DNI</th>
            <th class="px-6 py-3">Correo electronico</th>
            <th class="px-6 py-3">Estado del correo</th>
          </tr>
        </thead>
        <tbody>
          @for (patient of items; track $index) {
            <tr class="border-b border-b-card">
              <td class="flex items-center gap-3 px-6 py-4">
                <hlm-avatar variant="medium" shape="square">
                  <img [src]="patient.picture" alt="Profile picture" hlmAvatarImage />
                  <span class="bg-[#FD005B] text-white" hlmAvatarFallback>LL</span>
                </hlm-avatar>
                <div>
                  <p>{{ patient.firstName }} {{ patient.lastName }}</p>
                  <p class="text-[#808080]">{{ patient.age }} años</p>
                </div>
              </td>
              <td class="px-6 py-4">{{ patient.dni }}</td>
              <td class="px-6 py-4">{{ patient.email }}</td>
              <td class="px-6 py-4">
                @if (patient.emailVerified) {
                  <span class="p-[10px] rounded-xl text-[#34D399] bg-[#34D399] bg-opacity-15 text-xs font-medium">
                    Verificado
                  </span>
                } @else {
                  <span class="p-[10px] rounded-xl text-[#F43F5E] bg-[#F43F5E] bg-opacity-15 text-xs font-medium">
                    No Verificado
                  </span>
                }
              </td>
            </tr>
            }
        </tbody>
      </table>
    </div>
    <div hlmTabsContent="doctors">
      <table class="w-full text-sm text-left text-foreground">
        <thead class="text-xs text-foreground uppercase">
          <tr>
            <th class="px-6 py-3">Nombre</th>
            <th class="px-6 py-3">DNI</th>
            <th class="px-6 py-3">Correo electronico</th>
            <th class="px-6 py-3">Estado del correo</th>
            <th class="px-6 py-3">Esta habilitado</th>
          </tr>
        </thead>
        <tbody>
          @for (doctor of doctors; track $index) {
            <tr class="border-b border-b-card">
              <td class="flex items-center gap-3 px-6 py-4">
                <hlm-avatar variant="medium" shape="square">
                  <img [src]="doctor.picture" alt="Profile picture" hlmAvatarImage />
                  <span class="bg-[#FD005B] text-white" hlmAvatarFallback>LL</span>
                </hlm-avatar>
                <div>
                  <p>{{ doctor.firstName }} {{ doctor.lastName }}</p>
                  <p class="text-[#808080]">{{ doctor.age }} años</p>
                </div>
              </td>
              <td class="px-6 py-4">{{ doctor.dni }}</td>
              <td class="px-6 py-4">{{ doctor.email }}</td>
              <td class="px-6 py-4">
                @if (doctor.emailVerified) {
                  <span class="p-[10px] rounded-xl text-[#34D399] bg-[#34D399] bg-opacity-15 text-xs font-medium">
                    Verificado
                  </span>
                } @else {
                  <span class="p-[10px] rounded-xl text-[#F43F5E] bg-[#F43F5E] bg-opacity-15 text-xs font-medium">
                    No Verificado
                  </span>
                }
              </td>
              <td class="px-6 py-4">
                <hlm-switch (changed)="onChange($event, doctor.id)" [checked]="doctor.isEnable" />
              </td>
            </tr>
            }
        </tbody>
      </table>
    </div>
    <div hlmTabsContent="patients">
      <table class="w-full text-sm text-left text-foreground">
        <thead class="text-xs text-foreground uppercase">
          <tr>
            <th class="px-6 py-3">Nombre</th>
            <th class="px-6 py-3">DNI</th>
            <th class="px-6 py-3">Correo electronico</th>
            <th class="px-6 py-3">Estado del correo</th>
            <th class="px-6 py-3">Historial medico</th>
          </tr>
        </thead>
        <tbody>
          @for (patient of items; track $index) {
            <tr class="border-b border-b-card">
              <td class="flex items-center gap-3 px-6 py-4">
                <hlm-avatar variant="medium" shape="square">
                  <img [src]="patient.picture" alt="Profile picture" hlmAvatarImage />
                  <span class="bg-[#FD005B] text-white" hlmAvatarFallback>LL</span>
                </hlm-avatar>
                <div>
                  <p>{{ patient.firstName }} {{ patient.lastName }}</p>
                  <p class="text-[#808080]">{{ patient.age }} años</p>
                </div>
              </td>
              <td class="px-6 py-4">{{ patient.dni }}</td>
              <td class="px-6 py-4">{{ patient.email }}</td>
              <td class="px-6 py-4">
                @if (patient.emailVerified) {
                  <span class="p-[10px] rounded-xl text-[#34D399] bg-[#34D399] bg-opacity-15 text-xs font-medium">
                    Verificado
                  </span>
                } @else {
                  <span class="p-[10px] rounded-xl text-[#F43F5E] bg-[#F43F5E] bg-opacity-15 text-xs font-medium">
                    No Verificado
                  </span>
                }
              </td>
              <td class="px-6 py-4">
                <button
            class="bg-card w-12 h-12 rounded-full flex items-center justify-center"
          >
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              stroke="#808080"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 9.15h5.25m-5.25 3h3.285M7.5 4.5h3C12 4.5 12 3.75 12 3c0-1.5-.75-1.5-1.5-1.5h-3C6.75 1.5 6 1.5 6 3s.75 1.5 1.5 1.5"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 3.015c2.498.135 3.75 1.057 3.75 4.485V12c0 3-.75 4.5-4.5 4.5h-4.5C3 16.5 2.25 15 2.25 12V7.5c0-3.42 1.253-4.35 3.75-4.485"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
              </td>
            </tr>
            }
        </tbody>
      </table>
    </div>
  </hlm-tabs>
</main>
