<main class="flex flex-col items-center gap-12">
  <div class="flex flex-col items-center">
    <img src="assets/logo.svg" alt="" class="my-7" />
    <h1 class="text-2xl font-semibold text-center text-primary-foreground">
      Eliga el tipo de cuenta
    </h1>
  </div>

  <div class="flex gap-16">
    <div class="w-72 h-64 flex flex-col justify-between items-center">
      <img src="assets/illustrations/doctor.svg" alt="" />

      <a routerLink="/auth/join/specialist" hlmBtn class="flex w-full"
        >Soy un especialista</a
      >
    </div>

    <div class="w-72 h-64 flex flex-col justify-between items-center">
      <img src="assets/illustrations/person.svg" alt="" />

      <a routerLink="/auth/join/patient" hlmBtn class="flex w-full"
        >Soy un paciente</a
      >
    </div>
  </div>
</main>
