<article class="w-96 rounded-3xl bg-popover border border-border">
  <header class="p-6 flex items-center justify-between border-b border-border">
    <div class="flex items-center gap-3">
      <hlm-avatar variant="small" shape="square">
        <img [src]="picture" alt="Profile picture" hlmAvatarImage />
        <span class="{{ backgroundColor }} text-white" hlmAvatarFallback>{{
          fallBack
        }}</span>
      </hlm-avatar>
      <div>
        <p class="text-sm font-medium text-muted-foreground">Doctor/a</p>
        <p class="text-base font-medium text-foreground capitalize">{{ name }}</p>
      </div>
    </div>
  
    <app-tag [severity]="status" />
  </header>

  <div class="flex flex-col gap-5 px-6 py-4">
    <p class="flex items-center justify-between text-sm text-muted-foreground">
      Especialidad:
      <span class="text-foreground capitalize">{{ speciality }}</span>
    </p>
    <p class="flex items-center justify-between text-sm text-muted-foreground">
      Fecha:
      <span class="text-foreground">{{ date.toDate() | date:"longDate" }}</span>
    </p>
    <p class="flex items-center justify-between text-sm text-muted-foreground">
      Hora:
      <span class="text-foreground">{{ hour.toDate() | date:"shortTime" }}</span>
    </p>
  </div>

  <footer class="border-t border-border px-6 py-4 flex items-center justify-end">
    @if (status == 'pending') {
      <app-cancel-appointment [id]="id" />
    } @else if (status == 'accepted') {
      @if (showReason) {
        <app-reason [id]="id" status="cancelled" buttonText="cancelar" />
      } @else {
        <button hlmBtn type="button" variant="secondary" size="lg" class="w-full bg-input text-muted-foreground" (click)="onChangeVisibility()">Cancelar</button>
      }
    } @else if (status == 'finished' || status == 'cancelled' || status == 'rejected') {
      <app-comment [message]="message" />
    }
  </footer>
</article>
