<div class="flex gap-20">
  <div class="flex flex-col items-center gap-24 mb-8">
    @for (step of steps; track step; let i = $index) {
    <ng-container
      [ngTemplateOutlet]="stepTemplate"
      [ngTemplateOutletContext]="{ step: step, i: i }"
    ></ng-container>
    }
  </div>

  <div class="w-[580px]">
    @for (step of steps; track step; let i = $index) { @if (selectedIndex === i)
    {
    <ng-container [ngTemplateOutlet]="step.content"></ng-container>
    } }
  </div>

  <ng-template let-step="step" let-i="i" #stepTemplate>
    <app-step-header
      [index]="i + 1"
      [label]="step.label"
      [status]="getIndicatorType(i, step.status)"
      [active]="stepIsNavigable(i, step)"
    />
  </ng-template>
</div>
