<main class="p-9">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-xl font-semibold text-[#1B1E27]">Lista de usuarios</h2>

    <app-sheet />
  </div>

  <table
    class="w-full text-sm font-medium text-left border-separate border-spacing-y-3"
  >
    <thead>
      <tr class="text-[#CBD1E1]">
        <th class="px-6 font-medium">Usuario</th>
        <th class="px-6 font-medium">DNI</th>
        <th class="px-6 font-medium">Correo electronico</th>
        <th class="px-6 font-medium">Role</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items; track $index) {
      <tr
        class="bg-white text-[#1B1E27]"
        [ngClass]="
          !active && idSelected !== item.id ? 'opacity-20' : 'opacity-100'
        "
      >
        <td class="px-6 py-3 flex items-center gap-2 rounded-r-2xl">
          <img
            src="{{ item.profileImage }}"
            alt=""
            class="w-10 h-10 object-cover rounded-full"
          />
          <div>
            <div>
              {{ item.name }}
            </div>
            <div class="text-[#CBD1E1]">{{ item.age }} años</div>
          </div>
        </td>
        <td class="px-6 py-3">{{ item.dni }}</td>
        <td class="px-6 py-3 capitalize">{{ item.email }}</td>
        <td class="px-6 py-3">{{ item.role }}</td>
        <td class="px-6 py-3 rounded-r-2xl">
          <hlm-switch (click)="onSelect(item.id)" />
        </td>
        <td class="px-6 py-3 rounded-r-2xl">
          <button>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.66666 12.6667C6.66666 13.4 7.26666 14 8 14C8.73333 14 9.33333 13.4 9.33333 12.6667C9.33333 11.9333 8.73333 11.3333 8 11.3333C7.26666 11.3333 6.66666 11.9333 6.66666 12.6667Z"
                fill="#CBD1E1"
                stroke="#CBD1E1"
              />
              <path
                d="M6.66666 3.33332C6.66666 4.06666 7.26666 4.66666 8 4.66666C8.73333 4.66666 9.33333 4.06666 9.33333 3.33332C9.33333 2.59999 8.73333 1.99999 8 1.99999C7.26666 1.99999 6.66666 2.59999 6.66666 3.33332Z"
                fill="#CBD1E1"
                stroke="#CBD1E1"
              />
              <path
                d="M6.66666 8.00001C6.66666 8.73334 7.26666 9.33334 8 9.33334C8.73333 9.33334 9.33333 8.73334 9.33333 8.00001C9.33333 7.26668 8.73333 6.66668 8 6.66668C7.26666 6.66668 6.66666 7.26668 6.66666 8.00001Z"
                fill="#CBD1E1"
                stroke="#CBD1E1"
              />
            </svg>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
