<app-toast />

<form class="w-96 bg-white" [formGroup]="loginForm" (submit)="onLogin()">
  <h1 class="text-center text-2xl text-primary-foreground font-semibold mb-10">
    ¡Bienvenido de nuevo!
  </h1>

  <div class="flex gap-5">
    @for (account of accounts; track $index) {
    <app-account-card
      image="{{ account.imageSrc }}"
      role="{{ account.role }}"
      [selected]="selectedOption === account.id"
      (click)="onSelect(account)"
    />
    }
  </div>

  <!-- Crear un componente para el divider -->
  <div class="flex items-center my-7 text-muted-foreground gap-4">
    <span class="flex-grow h-[1px] bg-muted-foreground"></span>
    <span class="text-sm whitespace-nowrap">
      o registrese con su correo electrónico
    </span>
    <span class="flex-grow h-[1px] bg-muted-foreground"></span>
  </div>

  <div class="mb-4">
    <label hlmLabel
      >Correo Electronico
      <input
        class="w-full"
        hlmInput
        type="email"
        placeholder="Correo Electronico"
        formControlName="email"
      />
    </label>
  </div>

  <label hlmLabel
    >Contraseña
    <input
      class="w-full"
      hlmInput
      type="password"
      placeholder="Contraseña"
      formControlName="password"
    />
  </label>

  <button
    class="w-full mt-8"
    [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
    hlmBtn
  >
    Iniciar sesion
  </button>

  <p class="text-sm font-medium text-primary-foreground text-center mt-5">
    ¿No tienes una cuenta?
    <a routerLink="/auth/register" class="underline">Registrate</a>
  </p>
</form>
