<hlm-toaster />

<div>
  <div>
    <h1 class="text-[28px] text-foreground mb-7">Reservar turno</h1>

    <app-choose-speciality (selected)="onSpecialtySelected($event)" />

    <app-choose-doctor
      [specialty]="appointment.doctor.specialty"
      (selected)="onDoctorSelected($event)"
    />

    <app-choose-date
      [doctorId]="appointment.doctor.id"
      [appointment]="appointment"
      [buttonLoading]="buttonLoading"
      (dateSelected)="onDateSelected($event)"
      (hourSelected)="onHourSelected($event)"
      (bookSelected)="onBookAppointment()"
    />
  </div>
</div>
