<div>
  <div>
    <h1 class="text-[28px] text-foreground mb-7">Reservar turno</h1>

    <div class="w-full bg-popover rounded-3xl px-8">
      <h2 class="text-muted-foreground font-medium text-base border-b border-border py-6">
        Eliga la especialidad
      </h2>
      <div class="flex flex-wrap gap-6 py-6">
        @if (specialties.length > 0) { @for (specialty of specialties; track
        $index) {
        <button
          type="button"
          [title]="specialty.name"
          class="border text-foreground text-sm bg-card rounded-xl font-medium capitalize flex items-center gap-2.5 justify-center px-6 py-2.5"
          [ngClass]="
            specialtySelected === specialty.name
              ? 'border-primary'
              : 'border-transparent'
          "
          (click)="onSpecialtySelected(specialty)"
        >
          <img [src]="specialty.imageUrl" alt="" class="w-8 h-8" />
          {{ specialty.name }}
        </button>
        } } @else {

        <hlm-icon size="base" name="lucideLoader2" class="animate-spin" />

        }
      </div>
    </div>

    <div class="w-full bg-popover rounded-3xl px-8 mt-5">
      <h2 class="text-muted-foreground font-medium text-base border-b border-border py-6">
        Eliga al doctor
      </h2>
      <div class="flex flex-wrap gap-6 py-6">
        @if (doctors.length > 0) { @for (doctor of doctors; track $index) {
        <button
          type="button"
          [title]="doctor.name"
          class="border text-foreground text-sm bg-card rounded-xl font-medium flex items-center gap-2.5 justify-center p-4"
          [ngClass]="
            specialtySelected === doctor.name
              ? 'border-primary'
              : 'border-transparent'
          "
          (click)="onDoctorSelected(doctor.id)"
        >
        <img
        [src]="doctor.photoURL"
        alt=""
        class="w-14 h-14 rounded-xl object-cover"
      />
      <div>
        <h2 class="text-foreground text-base font-medium"> Dr/Dra
          {{ doctor.firstName }}
          {{ doctor.lastName }}
        </h2>
        <h3 class="text-muted-foreground text-sm font-medium text-start capitalize">
          {{ doctor.specialist }}
        </h3>
      </div>
        </button>
        } } @else {

        <hlm-icon size="base" name="lucideLoader2" class="animate-spin" />

        }
      </div>
    </div> @if (dates.length > 0) {
    <div class="mb-6">
      <h2 class="text-muted-foreground text-base mb-3">Eliga la fecha</h2>

      <div class="flex flex-wrap gap-6">
        @for (date of dates; track $index) {
        <button
          type="button"
          class="px-4 py-3 text-sm border text-foreground bg-card rounded-xl font-semibold flex flex-col items-center justify-center gap-2"
          (click)="onDateSelected(date, $index)"
          [ngClass]="
            dateSelected === $index ? 'border-primary' : 'border-transparent'
          "
        >
          {{ date | date : "d/M/yy" }}
        </button>
        }
      </div>
    </div>
    } @if (hours.length > 0) {
    <div class="mb-6">
      <h2 class="text-muted-foreground text-base mb-3">Elige la hora</h2>

      <div class="flex flex-wrap gap-6">
        @for (hour of hours; track $index) {
        <button
          type="button"
          class="px-4 py-3 text-sm border text-foreground bg-card rounded-xl font-semibold flex flex-col items-center justify-center gap-2"
          (click)="onHourSelected(hour, $index)"
          [ngClass]="
            hourSelected === $index ? 'border-primary' : 'border-transparent'
          "
        >
          {{ hour | date : "h:mm" }}
        </button>
        }
      </div>
    </div>
    }

    <button
      type="button"
      hlmBtn
      class="w-full"
      [disabled]="buttonState"
      (click)="onBookAppointment()"
    >
      Reservar turno
    </button>
  </div>
</div>
