<div class="section-header">
  <h1 class="section-title">{{ "patients.title" | translate }}</h1>

  <app-input-search />
</div>
<ng-table [value]="patients">
  <ng-template #header>
    <tr>
      <th class="px-6 py-3">{{ "patients.name" | translate }}</th>
      <th class="px-6 py-3">{{ "patients.dni" | translate }}</th>
      <th class="px-6 py-3">{{ "patients.email" | translate }}</th>
      <th class="px-6 py-3">{{ "patients.medicalHistory" | translate }}</th>
    </tr>
  </ng-template>

  <ng-template #body let-patient let-expanded="expanded">
    <tr [ngClass]="expanded && 'bg-[#353535] bg-opacity-35'">
      <td class="flex items-center gap-3 px-6 py-4 rounded-s-xl">
        <hlm-avatar variant="medium" shape="square">
          <img [src]="patient.picture" alt="Profile picture" hlmAvatarImage />
          <span class="bg-[#FD005B] text-white" hlmAvatarFallback>LL</span>
        </hlm-avatar>
        <div>
          <p>{{ patient.firstName }} {{ patient.lastName }}</p>
          <p class="text-[#808080]">{{ patient.age }} años</p>
        </div>
      </td>
      <td class="px-6 py-4">{{ patient.dni }}</td>
      <td class="px-6 py-4">{{ patient.email }}</td>
      <td class="px-6 py-4">
        <button
          class="bg-card w-12 h-12 rounded-full flex items-center justify-center"
        >
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            stroke="#808080"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 9.15h5.25m-5.25 3h3.285M7.5 4.5h3C12 4.5 12 3.75 12 3c0-1.5-.75-1.5-1.5-1.5h-3C6.75 1.5 6 1.5 6 3s.75 1.5 1.5 1.5"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 3.015c2.498.135 3.75 1.057 3.75 4.485V12c0 3-.75 4.5-4.5 4.5h-4.5C3 16.5 2.25 15 2.25 12V7.5c0-3.42 1.253-4.35 3.75-4.485"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </td>
      <td class="px-6 py-4">
        <button
          [ngRowToggler]="patient"
          class="bg-card w-12 h-12 rounded-full flex items-center justify-center"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.38 5.19751L6.18333 9.00084C6.6325 9.45001 7.3675 9.45001 7.81666 9.00084L11.62 5.19751"
              stroke="#F4F4F4"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </td>
    </tr>
  </ng-template>

  <ng-template #expandedrow let-product>
    <tr class="bg-[#353535] bg-opacity-35">
      <td [attr.colspan]="5">
        <div class="flex justify-center p-6 gap-40">
          <div>
            <div class="text-2xl font-medium text-white">
              {{ product.height }}
              <span class="text-muted-foreground font-medium text-sm">cm</span>
            </div>
            <p class="text-muted-foreground font-medium text-sm mt-1">Altura</p>
          </div>

          <div>
            <div class="text-2xl font-medium text-white">
              {{ product.weight }}
              <span class="text-muted-foreground font-medium text-sm">kg</span>
            </div>
            <p class="text-muted-foreground font-medium text-sm mt-1">Peso</p>
          </div>

          <div>
            <div class="text-2xl font-medium text-white">
              {{ product.temperature }}
            </div>
            <p class="text-muted-foreground font-medium text-sm mt-1">
              Temperatura
            </p>
          </div>

          <div>
            <div class="text-2xl font-medium text-white">
              {{ product.pressure }}
            </div>
            <p class="text-muted-foreground font-medium text-sm mt-1">
              Presion
            </p>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template #loadingbody>
    @for (column of [0, 1, 2, 3, 4]; track $index) {
    <tr>
      <td class="grid grid-cols-[48px_1fr] gap-3 px-6 py-4">
        <hlm-skeleton class="w-12 h-12 rounded-xl" />

        <div class="w-full">
          <hlm-skeleton class="w-48 h-5 rounded-sm mb-2" />
          <hlm-skeleton class="w-12 h-5 rounded-sm" />
        </div>
      </td>
      <td class="px-6 py-4">
        <hlm-skeleton class="w-16 h-5 rounded-sm" />
      </td>
      <td class="px-6 py-4">
        <hlm-skeleton class="w-48 h-5 rounded-sm" />
      </td>
      <td class="px-6 py-4">
        <hlm-skeleton class="w-12 h-12 rounded-full" />
      </td>
      <td class="px-6 py-4">
        <hlm-skeleton class="w-12 h-12 rounded-full" />
      </td>
    </tr>
    }
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="5" class="h-[405px] text-center align-middle">
        <p class="text-sm font-medium">
          No tenes pacientes. Empieza a aceptar los turnos.
        </p>
      </td>
    </tr>
  </ng-template>
</ng-table>
